html, body {
	backgound-color: black;
	height: 100%;
}
// .ng-scope {
	// background-color: black;
// }

// ========  index.php  =========  //

// == Welcome Bar == //
.welcome-text {
	background-color: #ccc;
	height: 1.5em;
}
.welcome-l,
.welcome-r {
	display: inline-block;
	
	
	// padding: .25em 1em .25em 0;
}
.welcome-l {
	padding-left: .75em;
}
.welcome-r {
	float: right;
	padding-right: .75em;
}
.clock {
	// background-color: black;
	// color: white;
	padding: 0 .25em 0 .25em;
}

#index-page,
#newuser-page {
	background-image: url("../img/mapScreenShot2");
	background-position: center;
	height: 100%;
}


// Initially hide forms, till they slide into place
#login,
#newuser {
	display: none;
}


.log-space {
	padding: 1em;
	background-color: rgba(255, 255, 255, .9);
	border-radius: 1em;
	margin: auto;
	max-width: 90%;
	height: 100%;
}

// Shadow on form sliders
#login, #newuser {
	box-shadow: 5px 5px 5px #777;
	// border: 1px solid black;
}


.jumbotron.index-jumbo {
	// background-color: rgba(255, 255, 255, .9);
	background-color: #555;
	color: #ccc;
	padding: 10px;
}

// ===  Image Styling === //

#modal-logo {
	// border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 20px;
	height: 50px;
}
#nav-logo {
	// border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	height: 22px;
}

// ===  NavBar Styling === //

nav.navbar.navbar-inverse {
	margin: 0;
}

.errorText {
	font-size: .75em;
	color: red;
}

// ===  home.php Styling === //

#map1 {
	height: 400px; 
	width: 100%
}

#img-spinner {
	margin-top: 2em;
	margin-left: 45%;
}

#map1 {
	background-color: #eee;
}












